<div class="container">
    <form>
        <div class="card">
            <div class="card-header">
                <h3>{{carta.id ? 'Edição de' : 'Nova'}} Carta</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" name="nome" 
                               [(ngModel)]="carta.nome" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="forca">Força</label>
                        {{carta.forca}}
                        <input type="range" class="form-range" name="forca" 
                               min="1" max="5" [(ngModel)]="carta.forca" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inteligencia">Inteligência:</label>
                        {{carta.inteligencia}}
                        <input type="range" class="form-range" name="inteligencia" 
                               min="1" max="5" [(ngModel)]="carta.inteligencia" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="velocidade">Velocidade: </label>
                        {{carta.velocidade}}
                        <input type="range" class="form-range" name="velocidade" 
                               min="1" max="5" [(ngModel)]="carta.velocidade" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>&nbsp;</label>
                        <button type="submit" class="form-control btn btn-warning" (click)="voltar()">
                            <i class="bi bi-arrow-left"></i> Voltar
                        </button>
                    </div>
                    <div class="form-group col-md-6">
                        <label>&nbsp;</label>
                        <button type="submit" class="form-control btn btn-primary" (click)="salvar()">
                            <i class="bi bi-check"></i> Salvar
                        </button>
                    </div>
                </div>
            </div>    
        </div>
    </form>
</div>