<div class="container">
    <h3 class="alert alert-success">Cartas disponíveis para X1: </h3>
    <!-- <pre>{{seletor | json}}</pre> -->
    <div class="card">
        <div class="card-header bg-info">
            <h5>Filtros</h5>
        </div>
        <div class="card-body">
            <form>
                <div class="row"> 
                    <div class="col-md-12">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" class="form-control" 
                               name="nome" [(ngModel)]="seletor.nome">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="nome">Força mínima:</label>
                        <input type="number" class="form-control" name="forcaMinima" 
                               [(ngModel)]="seletor.forcaMinima">
                    </div>
                    <div class="col-md-3">
                        <label for="nome">Velocidade mínima:</label>
                        <input type="number" class="form-control" name="velocidadeMinima" 
                               [(ngModel)]="seletor.velocidadeMinima">
                    </div>
                    <div class="col-md-3">
                        <label for="nome">Inteligência mínima:</label>
                        <input type="number" class="form-control" name="inteligenciaMinima" 
                               [(ngModel)]="seletor.inteligenciaMinima">
                    </div>
                    <div class="col-md-3">
                        <label for="nome">&nbsp;</label>
                        <button type="button" class="form-control btn btn-warning"
                                (click)="limpar()">
                            <i class="bi bi-trash"></i> Limpar
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="nome">Força máxima:</label>
                        <input type="number" class="form-control" name="forcaMaxima" 
                               [(ngModel)]="seletor.forcaMaxima">
                    </div>
                    <div class="col-md-3">
                        <label for="nome">Velocidade máxima:</label>
                        <input type="number" class="form-control" name="velocidadeMaxima" 
                               [(ngModel)]="seletor.velocidadeMaxima">
                    </div>
                    <div class="col-md-3">
                        <label for="nome">Inteligência máxima:</label>
                        <input type="number" class="form-control" name="inteligenciaMaxima" 
                               [(ngModel)]="seletor.inteligenciaMaxima">
                    </div>
                    <div class="col-md-3">
                        <label for="nome">&nbsp;</label>
                        <button type="button" class="form-control btn btn-primary"
                                (click)="pesquisar()">
                            <i class="bi bi-search"></i>Pesquisar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br>
    <div>
        <table class="table table-striped border">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Força</th>
                    <th>Velocidade</th>
                    <th>Inteligência</th>
                    <th>Cadastrada em:</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" *ngFor="let carta of cartas">
                    <td>{{carta.nome}}</td>
                    <td>{{carta.forca}}</td>
                    <td>{{carta.velocidade}}</td>
                    <td>{{carta.inteligencia}}</td>
                    <td>{{carta.dataCadastro | date: 'dd/MM/yyyy'}}</td>
                </tr>
        </table>
    </div>
</div>