<div class="container">
    <h3 class="alert alert-success">Cartas disponíveis para X1: </h3>
    <div class="card">
        <div class="card-header bg-info">
            <h5>Filtros</h5>
        </div>
        <div class="card-body">
            <form>
                <div class="row"> 
                    <div class="col-md-12">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" class="form-control" 
                               name="nome" [(ngModel)]="seletor.nome">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="forcaMinima">Força mínima:</label>
                        <input type="number" id="forcaMinima" class="form-control" name="forcaMinima" 
                               [(ngModel)]="seletor.forcaMinima">
                    </div>
                    <div class="col-md-3">
                        <label for="forcaMinima">Velocidade mínima:</label>
                        <input type="number" id="velocidadeMinima" class="form-control" name="velocidadeMinima" 
                               [(ngModel)]="seletor.velocidadeMinima">
                    </div>
                    <div class="col-md-3">
                        <label for="inteligenciaMinima">Inteligência mínima:</label>
                        <input type="number" id="inteligenciaMinima" class="form-control" name="inteligenciaMinima" 
                               [(ngModel)]="seletor.inteligenciaMinima">
                    </div>
                    <div class="col-md-3">
                        <label for="btnLimpar">&nbsp;</label>
                        <button type="button" class="form-control btn btn-warning" name="btnLimpar"
                                (click)="limpar()">
                            <i class="bi bi-trash"></i> Limpar
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="forcaMaxima">Força máxima:</label>
                        <input type="number" class="form-control" name="forcaMaxima" 
                               [(ngModel)]="seletor.forcaMaxima">
                    </div>
                    <div class="col-md-3">
                        <label for="velocidadeMaxima">Velocidade máxima:</label>
                        <input type="number" class="form-control" name="velocidadeMaxima" 
                               [(ngModel)]="seletor.velocidadeMaxima">
                    </div>
                    <div class="col-md-3">
                        <label for="inteligenciaMaxima">Inteligência máxima:</label>
                        <input type="number" class="form-control" name="inteligenciaMaxima" 
                               [(ngModel)]="seletor.inteligenciaMaxima">
                    </div>
                    <div class="col-md-3">
                        <label for="btnPesquisar">&nbsp;</label>
                        <button type="button" class="form-control btn btn-primary" name="btnPesquisar"
                                (click)="pesquisar()">
                            <i class="bi bi-search"></i>Pesquisar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br>

    
    <nav class="row">
        <div class="col-md-3">
            <!-- Componente de quantidade de registros por página -->
            <label for="quantidadeRegistros">Quantidade de registros por página:</label>
            <select class="form-select" [(ngModel)]="seletor.limite" (change)="atualizarPaginacao()">
                <option value="3">3</option>
                <option value="6">6</option>
                <option value="20">20</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="quantidadeRegistros">&nbsp;</label>
            <!-- Componente de paginação -->
            <ul class="pagination">
                <li class="page-item"><button [disabled]="seletor.pagina == 1" class="page-link" (click)="voltarPagina()">Anterior</button></li>
                
                <!-- Botões com as páginas construídos dinamicamente -->
                <li class="page-item" *ngFor="let indice of criarArrayPaginas()" (click)="irParaPagina(indice)"><button class="page-link">{{indice}}</button></li>
                
                <li class="page-item"><button [disabled]="seletor.pagina == totalPaginas" class="page-link" (click)="avancarPagina()">Próxima</button></li>
            </ul>
        </div>   
    </nav>
    <div>
        <table class="table table-striped border">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th class="text-center">Força</th>
                    <th class="text-center">Velocidade</th>
                    <th class="text-center">Inteligência</th>
                    <th class="text-center">Cadastrada em:</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" *ngFor="let carta of cartas">
                    <td>{{carta.nome}}</td>
                    <td class="text-center">{{carta.forca}}</td>
                    <td class="text-center">{{carta.velocidade}}</td>
                    <td class="text-center">{{carta.inteligencia}}</td>
                    <td class="text-center">{{carta.dataCadastro | date: 'dd/MM/yyyy'}}</td>
                    <td class="text-center">
                        <button class="btn btn-xs btn-info mr-12"
                                (click)="editar(carta.id)">
                            <i class="bi bi-pencil"></i> Editar
                        </button>
                        &nbsp;
                        <button class="btn btn-xs btn-danger"
                                (click)="excluir(carta)">
                            <i class="bi bi-x"></i> Excluir
                        </button>
                      </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>





